body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* position de l élément lecteur audio*/
audio {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*mise en place du canva sur tout l'ecran*/
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
}